.formButton {
    width: 100%;
    font-family: 'Vazirmatn';
    background: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: #388e3c;
    }

    @media (max-width: 600px) {
        font-size: 14px;
        padding: 10px;
        width: 228px;
    }
}