@font-face {
    font-family: "Vazirmatn";
    src: url("/fonts/vazirmatn/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: "Vazirmatn", sans-serif;
    margin: 0;
    padding: 0;
    background: #f6f8fa;
    color: #222;
  }
  